* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f0f0;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    gap: 1rem;
}

/* Menu items */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2em;
    text-align: right;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-top: 1.2em;
    font-size: 2rem;
}

button {
    font-size: 2rem;
    background: white;
    border-radius: 30px;
    border: 1.2px solid black;
    padding: 0px 12px;
    box-shadow: 1px 3px 15px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

button:hover {
    box-shadow: 1px 3px 15px rgba(16, 143, 217, 0.4);
    border-color: rgb(16, 143, 217);
    transform: scale(1.05);
}

button.active {
    box-shadow: 1px 3px 15px rgba(213, 11, 196, 0.4);
    border-color: rgb(213, 11, 196);
    transform: scale(1.05);
}

/* Grid/Pixel Range */
.range-and-value {
    display: flex;
    gap: 1.2rem;
}

#pixel-range {
    -webkit-appearance: none;
    background-color: white;
    border-radius: 30px;
    border: 1.2px solid black;
    padding: 0px 12px;
}

#pixel-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: ew-resize;
    background-color: #d50bc4;
    width: 18px;
    height: 18px;
    border-radius: 10px;
}

#pixel-range::-moz-slider-thumb {
    cursor: ew-resize;
    background-color: #d50bc4;
    width: 18px;
    height: 18px;
    border-radius: 10px;
}

#value {
    font-size: 1.3rem;
}


/* Adjustment to default colour picker appearance - may not work across all browsers/devices */
#colour-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 5px;
}

#colour-picker::-webkit-color-swatch {
    border-radius: 30px;
    border: none;
}

#colour-picker::-moz-color-swatch {
    border-radius: 30px;
    border: none;
}


/* Main etch-a-sketch */
.grid-container {
    flex-shrink: 0;
    margin: 2rem 2rem;
    height: 820px;
    width: 820px;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    box-shadow: 1px 3px 15px rgba(0,0,0,0.2);
}

.blank-grid-square {
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.2);
}

/* Button functionality */

