* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    justify-content: center;
    gap: 1rem;
}

/* Menu items */
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.2em;
}

h1 {
    font-size: 3rem;
}

button {
    font-size: 2rem;
    background: none;
    border-radius: 30px;
    border: 1.2px solid black;
    padding: 0px 12px;
    box-shadow: 1px 3px 15px rgba(0,0,0,0.2);
    transition: transform 0.5s;
}

button:hover {
    box-shadow: 1px 3px 15px rgba(16, 143, 217, 0.4);
    border-color: rgb(16, 143, 217);
    transform: scale(1.05);
}

/* Adjustment to default colour picker appearance - may not work across all browsers/devices */
#colour-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#colour-picker::-webkit-color-swatch {
    border-radius: 30px;
    border: none;
}

#colour-picker::-moz-color-swatch {
    border-radius: 30px;
    border: none;
}


/* Main etch-a-sketch */
.grid-container {
    flex-shrink: 0;
    margin: 2rem 2rem;
    height: 820px;
    width: 820px;
    display: grid;
    /* gap: 0.1rem; */
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: repeat(25, 1fr);
    box-shadow: 1px 3px 15px rgba(0,0,0,0.2);
}

.blank-grid-square {
    background-color: white;
    border: 1px solid grey;
}

.colour-grid-square {
    background-color: blue;
}
